body {

  font-family: 'Roboto', sans-serif;
}

.container {
  margin-top: 0px;
}

.spacer {
  margin-top: 40px;
}

.blue-color {
  background: -webkit-linear-gradient(90deg, #0CF, rgb(0, 153, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grey-color {
  background: -webkit-linear-gradient(120deg, rgb(4, 4, 4), rgb(103, 103, 103));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.img-card {
  margin-bottom: 10px;

}

.bg-blue {
  background: -webkit-linear-gradient(90deg, #0CF, rgb(0, 153, 255));
}